<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.BuMenDao">
    <resultMap type="BuMen" id="BuMenResultMap">
        <id property="departmentID" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="managerID" column="manager_id"/>
    </resultMap>

    <select id="queryAllBuMen" resultMap="BuMenResultMap">
        SELECT *
        FROM department
    </select>
  <select id="queryByID" resultMap="BuMenResultMap">
        SELECT *
        FROM department
        WHERE department_id = #{departmentID}
  </select>
    <insert id="addBumen" parameterType="BuMen">
        insert into department (department_id,department_name,manager_id)
        values
        (#{departmentID},#{departmentName},#{managerID})
    </insert>
  <delete id="deleteBumenByID" parameterType="String">
    DELETE FROM department WHERE department_id = #{departmentID}
  </delete>
  <update id="updateBumen" parameterType="Bumen">
    UPDATE department
    <set>
      <if test="departmentName != null">department_name = #{departmentName},</if>
      <if test="managerID != null">manager_id = #{managerID}</if>
    </set>
    WHERE department_id = #{departmentID}
  </update>
</mapper>
