<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.departmentfieldDao">
    <resultMap type="departmentfield" id="departmentfieldResultMap">
        <id property="departmentfieldID" column="departmentfield_id"/>
        <result property="departmentID" column="department_id"/>
        <result property="departAdd" column="depart_add"/>

    </resultMap>



    <select id="queryAllDepartmentfield" resultMap="departmentfieldResultMap">
        SELECT *
        FROM departmentfield
    </select>

    <select id="queryDepartmentfieldBydID" resultMap="departmentfieldResultMap">
        SELECT *
        FROM departmentfield
        WHERE department_id = #{departmentID}
    </select>

    <select id="queryByID" resultMap="departmentfieldResultMap">
        SELECT *
        FROM departmentfield
        WHERE
        department_id = #{departmentID}
        and
        departmentfield_id = #{departmentfieldID}
    </select>

    <insert id="adddepartmentfield" parameterType="departmentfield">
        insert into departmentfield (departmentfield_id,department_id,depart_add)
        values
        (#{departmentfieldID},#{departmentID},#{departAdd})
    </insert>

    <delete id="deletedepartmentfieldByID" parameterType="String">
        DELETE
        From departmentfield
        where
        department_id = #{departmentID}
        and
        departmentfield_id = #{departmentfieldID}
    </delete>

    <update id="updatedepartmentfield" parameterType="String">
        UPDATE departmentfield
        set depart_add = #{departAdd}
        WHERE
        department_id = #{departmentID} and
        departmentfield_id = #{departmentfieldID}
    </update>
</mapper>
