<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.dependantDao">
    <resultMap type="Dependant" id="dependantResultMap">
        <id property="dependant_id" column="dependant_id"/>
        <result property="employee_id" column="employee_id"/>
        <result property="dependant_name" column="dependant_name"/>
        <result property="dependant_sex" column="dependant_sex"/>
        <result property="dependant_birthday" column="dependant_birthday"/>
        <result property="relationship" column="relationship"/>
        <result property="dependant_IDnumber" column="dependant_IDnumber"/>
        <result property="dependant_SSnumber" column="dependant_SSnumber"/>
    </resultMap>



    <select id="queryAllDependant" resultMap="dependantResultMap">
        SELECT *
        FROM dependant
    </select>

    <select id="queryDependantByID" resultMap="dependantResultMap" parameterType="String">
        SELECT *
        FROM dependant
        WHERE employee_id = #{employee_id} AND dependant_id = #{dependant_id}
    </select>

    <insert id="addDependant" parameterType="Dependant">
        insert into dependant (dependant_id,employee_id,dependant_name,dependant_sex,dependant_birthday,relationship,dependant_IDnumber,dependant_SSnumber)
        values
        (#{dependant_id},#{employee_id},#{dependant_name},#{dependant_sex},#{dependant_birthday},#{relationship},#{dependant_IDnumber},#{dependant_SSnumber})
    </insert>

    <delete id="deleteDependantByID" parameterType="String">
        DELETE
        From dependant
        WHERE
        dependant_id = #{dependant_id}
        AND
        employee_id = #{employee_id}
    </delete>

    <update id="updateDependant" parameterType="Dependant">
        UPDATE dependant
        SET dependant_SSnumber = #{dependant_SSnumber}
        WHERE
        dependant_id = #{dependant_id}
        AND
        employee_id = #{employee_id}
    </update>
</mapper>
