<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.supplierDao">
    <resultMap type="supplier" id="supplierResultMap">
        <id property="supplier_id" column="supplier_id"/>
        <result property="supplier_cname" column="supplier_cname"/>
        <result property="supplier_contact" column="supplier_contact"/>
        <result property="supplier_tel" column="supplier_list"/>
    </resultMap>



    <select id="queryAllSupplier" resultMap="supplierResultMap">
        SELECT *
        FROM supplier
    </select>

    <select id="querySupplierByID" resultMap="supplierResultMap">
        SELECT *
        FROM supplier
        WHERE supplier_id = #{supplier_id}
    </select>


    <insert id="addSupplier" parameterType="supplier">
        insert into supplier (supplier_id,supplier_cname,supplier_contact,supplier_list)
        values
        (#{supplier_id},#{supplier_cname},#{supplier_contact},#{supplier_tel})
    </insert>

    <delete id="deleteSupplierByID" parameterType="String">
        DELETE
        From supplier
        where
        supplier_id = #{supplier_id}
    </delete>

    <update id="updateSupplier" parameterType="supplier">
        UPDATE supplier
        <set>
            <if test="supplier_cname != null">supplier_cname = #{supplier_cname},</if>
            <if test="supplier_contact != null">supplier_contact = #{supplier_contact},</if>
            <if test="supplier_tel != null">supplier_list = #{supplier_tel}</if>
        </set>
        WHERE
        supplier_id = #{supplier_id}
    </update>
</mapper>
